In [1]:
a = 10
a

10

## conditional statement

 x = 0
 if x <10;
 print("x hai vo chota hai 10")

x = 20
if x<10"
print("x hai vo chota hai 10 se')

else x== 20;
print("x ki value hai 20 hai")

x=18
ifx=18;
print("x age wale hi vote de sakte hai")

# find the largest number
# Check Even or Odd
# Leap Year checker
# Grading system
# 90 and above; Grade A
# 7 to 89; grade 
# 60 to 74
# below 60; grade d
# find largest of three number

In [2]:
a = 10
b = 20
if a>b:
    print("largest number is:", a)
else:
    print("largest is:", b)

largest is: 20

In [3]:
num = 7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [1]:
marks = 85

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Grade D")

Grade B

In [2]:
year = 2024

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year