In [ ]:
# try main code
# ex error handling\
     # else multiple
    # finally ye chalehga

In [1]:
try:
    a = int(input ("enter a number"))
    b = int(input("enter a second"))
    print(a*b)
except ValueError as e:
    print("invalid point, e")

168

In [2]:
try:
    a = int(input("enter a number"))
    b = int(input("enter a second number"))
    print(a/b)
except ZerodivisionError as e:
    print(e)

0.5

In [ ]:
# execption

In [3]:
try:
    a = int(input("enter a number"))
    b = int(input)("enter a second number")
    print(a/b)
except Exception as e:
    print(e)
else:
        print("no error")
        print(a*b)
finally:
    print("m to chalunga")

int() argument must be a string, a bytes-like object or a real number, not 'method'
m to chalunga

In [6]:
try:
    num1 = int(input("enter a number"))
    num2 = int(input("enter a second number"))
    result =num1/num2
except ZeroDivisionError as e:
    print(e)
except ValueError as e:
    print(e)
else :
    print("final_result:-",result)
finally :
    print("thanks for using")

final_result:- 0.6666666666666666
thanks for using

In [ ]:
# syntax Error
if True
print("hey") # Missing colon

IndentationError: expected an indented block after 'if' statement on line 2 (2426658318.py, line 3)

In [8]:
# syntax Error
if True:
    print("hey")

hey

In [10]:
# IndentationError
def greet():
print('hey')

IndentationError: expected an indented block after function definition on line 2 (204740.py, line 3)

In [4]:
# Indentation Error
def greet():
    print("hey")

In [ ]:
# Name Error
print(x) # x is not defined

NameError: name 'x' is not defined

In [11]:
# Name Error
print("x")

x

In [ ]:
# Type Error
print("Age: " + 20) # cannot add string and int

TypeError: can only concatenate str (not "int") to str

In [15]:
# Type Error
print("Age: ",  str(20))

Age:  20

In [16]:
# Value Error
int("abc") # cannont convert letters to int

ValueError: invalid literal for int() with base 10: 'abc'

In [17]:
# value Error
int("123")

123

In [18]:
# Zero Error
print(10/0) # no division by zero

ZeroDivisionError: division by zero

In [19]:
# Zero Error
print(10/2)

5.0

In [20]:
# IndexError
lst = [1, 2, 3]
print(lst[5]) # Index out of range

IndexError: list index out of range

In [25]:
# Index Error
lst = [1, 2, 3]
print(lst[1])

2

In [26]:
# Key Error
data = {"range": "Krishu"}
print(data["age"]) # key 'age' not found

KeyError: 'age'

In [27]:
# Key Error
data = {"range": "krishu"}
print(data["range"])

krishu