### oops concept in python

In [ ]:
# global variable
# local variable
### polymorphism
#### inheritance
# encap
# abstraction

In [1]:
class Class_name:
      pass

In [8]:
class Student:
      name ="rishika"
      age = 18
      print(f"my name is{name }and my age is {age}")
obj_st=Student()

my name isrishikaand my age is 18

In [9]:
obj_st.name

'rishika'

In [14]:
obj_st.age

18

In [ ]:
st_obj=Student()

In [ ]:
st_obj.info()

## inheritance

In [ ]:
# types 
single
multiple
multilevel
hierarachical
hybrid

In [ ]:
class College:
    pass

class Student:
    pass

In [19]:
# single
class College:
    pass
class Student(College):
    pass

In [ ]:
class College:
    pass
college_name = "Govt women engineering "
college_address = "beawara"
class Student(College):

In [ ]:
# multiple inheritance example

class Father:
    father_name = "anil"
    father_id = "1234"

class Uncle:
    uncle_name = "krishna"

class Child(Father, Uncle):
    pass

# Create object
obj_child = Child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)

anil
1234
krishna

## Encapsulation

In [ ]:
class Student:
       _name = "rishika"
       age = 19
       id = "1234"
st_obj =Student()

In [ ]:
st_obj.age

19

In [ ]:
# st_obj._Student__name private variable ko access karta hai

In [ ]:
# st_obj._id

In [ ]:
# bank naam se id account number save

In [ ]:
class Bank:
    _id = "77777" # private

In [ ]:
 
# balance deposite krwana hai

In [ ]:
class ClassName:
    def method_name:

In [ ]:
class Bank:
    account_number = "01234"
    name = "rishika"
    phone_number = "978634629"
    address = "beawar"
    deposite = "5000"
    balance = "20000"
bn_obj=Bank()

In [ ]:
class Bank:
    def__int__(self,account_holder = 0)
    self.account_holder = account_holder
    self.balance

In [ ]:
# super function 
# project Bmi calculator
class ke through kaam

### constructor

In [ ]:
class Bank:
    def __init__(self,name,age,account_number,phone_number,address):
        self.name = name
        self.age = age 
        self.__account_number = account_number
        self.phone_number = phone_number
        self.address = address 

    def deposit(self,ammount):
        self.ammount = ammount
    def withdraw(self,ammount):
        self.ammount = ammount
    def total_balance(self):
        return self.ammount
    def info(self):
        print(f"name{self.name},and age{self.age},and account_number{self.__account_number},and phone_number{self.phone_number},and address{self.address}")
bn_obj = Bank(name = " rishika",age =  20,account_number=" 01334567",phone_number= 1234567890,address=" beawar")

In [ ]:
bn_obj.info()

name rishika,and age20,and account_number 01334567,and phone_number1234567890,and address beawar

In [8]:
class BMICalculator:
    def __init__(self , weight, height):
     self.weight = weight
     self.height = height  
    def calculator_bmi(self):
         bmi = self.weight / (self.height ** 2)
         return bmi
    def get_category(self):
         bmi = self.calculator_bmi()
         if bmi < 18.5:
              return "Underweight"
         elif 18.5 <= bmi < 24.9:
            return "Normal weight"
         elif 25 <= bmi < 29.9:
            return "Overweight"
         else:
            return "Obese"
weight = float(input("Enter weight (in kg):"))
height = float(input("Enter height (in meters):"))
person = BMICalculator(weight,height)
bmi = person.calculator_bmi()
category = person.get_category()
print(f"\nYour BMI is: {bmi:.2f}")
print(f"Category: {category}")

Your BMI is: 0.32
Category: Underweight